extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleContact.css

block content
    div.container
        h1 Contact Us 
        form(class="mycontact" action="/contact", method="post")
            input(class="myInput" type="text", name="name", placeholder="Enter your name") 
            input(class="myInput" type="phone", name="phone", placeholder="Enter your phone no.") 
            input(class="myInput" type="email", name="email", placeholder="Enter your email") 
            input(class="myInput" type="text", name="address", placeholder="Enter your address") 
            input(class="myInput" type="text", name="desc", placeholder="Enter your concern") 
            button.btn 
                |Submit 